*{
    margin-left:5px;
    margin-right:5px;
}
.account{
    background-color:#C2175B;
    color:white;
    width:30px;
    height:30px;
    font-size:20px;
    font-family: Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
}
.right img {
    width:70px;
}
.header{
    display:flex;
    justify-content: space-between;
}
.left,.right{
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.center{
    display:flex;
    justify-content:center;
    align-items: center;

}
.mic{
    background-color:#F9F9F9;
    width:30px;
    height:30px;
    border-radius: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
}
.center form{
    display:flex;
    justify-content:center;
    align-items:center;
}
.center button , .center input {
    margin:0;
}
